* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 600px) {
  div.signup-image, div.signin-image {
    display: none;
  }
}

.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 91.52%;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.signup, .signin, .contact, .home, .about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.home {
  background-image: linear-gradient(to right, #cce6ff 50%,#ffffff 50%);
}

.Container {
  height: fit-content;
}

.contact > .Container {
  max-width: 1600px;
  width: 65vw;
}

.signup > .Container {
  max-width: 660px;
}

.signin > .Container {
  max-width: 620px;
}

.home > .Container {
  text-align: center;
}

.home > .Container > p {
  color: blue;
  font-size: larger;
  font-weight: bold;
}

.about > .Container {
  max-width: 660px;
  padding: 40px 5px;
}

.box {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 12px 35px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
}

.contact-info-text {
  font-size: 0.8rem;
  margin-bottom: 2px;
}

.contact-info-title {
  margin-bottom: 0px;
  font-size: large;
}

.contact-form-container {
  justify-content: center;
  display: flex;
}

.contact-form {
  margin-top: 4rem;
  width: 860px;
}

.contact-details-form {
  display: flex;
  justify-content: space-between;

}

.message-field {
  display: flex;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  grid-template-columns: 220px 220px 220px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 40% 60%;
}

.tabs {
  grid-area: 2/2/3/4;
}

.profile-img {
  display: flex;
  justify-content: center;
}

.grid-item > figure {
  width: 60%;
}

.profile-work-link {
  margin: auto;
}

.work-link {
  width: fit-content;
}

.work-link > a {
  text-decoration: none;
}

#signup-image, #signin-image {
  width: 20vw;
}

.signup-image, .signin-image {
  text-align: center;
}

#signin-image{
  
  height: 22vw;
}

#signup-image {
  height: 24vw;
}

#message {
  width: 100%;
  height: 120px;
  padding: 5px 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

#profile-img {
  width: 100%;
}

input {
  padding: 5px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  outline: 3px solid #555;
  border: none;
}

#message:focus {
  outline: 3px solid #555;
  border: none;
}

#profile-edit-btn {
  border-radius: 50px;
}