.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.signup, .signin {
  height: 40vw;
}

.container-of-form {
  max-width: 660px;
  height: 500px;
}

.container-of-form, .container-of-signin-form {
  margin: auto;
  top: 50%;
  position: relative;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container-of-signin-form {
  max-width: 620px;
}

#signup-image, #signin-image {
  width: 20vw;
  height: 24vw;
}

.signup-image, .signin-image {
  text-align: center;
}

