.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}

.signup, .signin, .contact {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  height: fit-content;
  position: absolute;
}

.contact > .Container {
  max-width: 1600px;
  width: 65vw;
}

.signup > .Container {
  max-width: 660px;
}

.signin > .Container {
  max-width: 620px;
}

.box {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 12px 35px 0 rgba(0, 0, 0, 0.14);
  border-radius: 6px;
}

.contact-info-text {
  font-size: 0.8rem;
  margin-bottom: 2px;
}

.contact-info-title {
  margin-bottom: 0px;
  font-size: large;
}

#signup-image, #signin-image {
  width: 20vw;
}

.signup-image, .signin-image {
  text-align: center;
}

#signin-image{
  
  height: 22vw;
}

#signup-image {
  height: 24vw;
}
